<div class='headquarter' id= {{id}}>
<h1> Main Branch </h1>
<p> {{name}} </p>
<p> {{address}},{{city}},{{state}} {{zip}} </p>
<input type="button" value="Show All Inventory" class="button showInventory">
<input type="button" value="Add New Inventory" class="button addInventory" id={{id}}>
<input type="button" value="Add New Branch" class="button branch">
<input type="button" value="History" class="button history">
</div>
