<table>
  <tr>
    <td> <img src={{image_url}} class="show"> </td>
    <td> {{product.product_name}} </td>
    <td> {{amount_inhouse}} </td>
    <td> {{amount_sold}} </td>
    <td> {{price}} </td>
    <td> <input type='button' value="Edit" class="button edit"> </td>
    <td> <input type='button' value="Delete" class="button delete"> </td>
  </tr>
</table>
<!-- <p> <b>Product Name: {{product.product_name}}</b> || Amount Inhouse: {{amount_inhouse}} || Amount Sold: {{amount_sold}} || Price: {{price}} -->
<!-- <input type='button' value="Edit" class="button edit"></p> -->
<hr>
