<img src={{image_url}}>
<h3> Product Name: {{product.product_name}} </h3>
<h3> Amount Inhouse: {{amount_inhouse}} </h3>
<h3> Amount Sold: {{amount_sold}} </h3>
<h3> Price: {{price}} </h3>
<h3> Description: </h3>
<h4> {{product.description}} </h4>
